<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<meta name="robots" content="noindex">
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
	<meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>">
	<meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
	<meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>">
</head>
<body class="no-js light-mode">
	<script>document.body.className = document.body.className.replace(RegExp("\\bno-js\\b"), "js").trim();</script>
	<div class="you-are-an-idiot">
		<div>you are an idiot</div>
		<div>☺ ☺ ☺</div>
	</div>
</body>
</html>
